#rpg maker mv file
audio/*
css/*
data/*
effects/*
fonts/*
icon/*
img/*
save/*
movies/*
js/libs/*
js/main.js
js/plugins.js
game.rmmzproject
package.json
js/rmmz_windows.js
js/rmmz_scenes.js
js/rmmz_sprites.js
js/rmmz_objects.js
js/rmmz_managers.js
js/rmmz_core.js
js/plugins/Alpha_NETZ_MZ.js
js/plugins/Alpha_@Core.js
js/plugins/Alpha_NETZ.js
js/plugins/SocketIO.js
